<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'link', '' %>
  </li>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
  <li>
    <%= link_to 'Sign Up', signup_path, class: 'button' %>
  </li>
    
</ul>
